{% extends "app/layout.html" %}
{% block title %}
<title>About Us</title>
{% endblock %}
{% block content %}
<div class="end-container">
    <h2> About this project:</h2>
    <p> This project was created by a Software Engineering student, who is currently studying at Facultad de Ingenieria (FING). The main propuse of this page is to show 
        Python skills, by using Django, also a little bit of HTML and CSS is shown here. The functionalities are:
    </p>
    <ol>
        <li>Creation of an appointment object, whose parameters are day, time, and service. 
            (You have be authenticated and handles if all three parameters were selected before)</li>
        <li>List the appointments made by the user.</li>
        <li>Updating an existent appointment, where you can change all parameters if desired.</li>
        <li>Deleting an existent appointment.</li>
    </ol>
    <p>You can try it now! Hope you like it.</p>
    </div>
{% endblock %}