{% extends "app/layout.html" %}
{% block title %}
<h1>Reservas</h1>
{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/site.css' %}">
{% endblock %}
{% block content %}

<div class="container-booking">
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
  <h2>Please select a service, day and time.</h2>
  <form method="post" action="{% url 'booking' %}">
    {% csrf_token %}

    <div class="custom-select" style="width: 200px;">
      <select name="service" id="service">
        <option value="" selected disabled>Service</option>
        {% for service in services %}
        <option value="{{ service }}">{{ service }}</option>
        {% endfor %}
      </select>
    </div>
    <br>

    <div class="custom-select" style="width: 200px;">
      <select name="day" id="day">
        <option value="" selected disabled>Day</option>
        {% for weekday in validateWeekdays %}
        <option value="{{ weekday }}">{{ weekday }}</option>
        {% endfor %}
      </select>
    </div>
    <br>

    <div class="custom-select" style="width: 200px;">
      <select name="time" id="time">
        <option value="" selected disabled>Time</option>
        {% for time in times %}
        <option value="{{ time }}">{{ time }}</option>
        {% endfor %}
      </select>
    </div>
  <div class="inside-container">
    <button type="submit" class="button3">Submit</button>
  </div>
  </form>

  <h2>Dias disponibles:</h2>
  <ul class="two-column-list">
    {% for weekday in weekdays %}
    <li>{{ weekday }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}