{% extends "app/layout.html" %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/site.css' %}">
{% endblock %}
{% block content %}
<div class="center-container">
    <header>
        <h1>Welcome to our home page!</h1>
        <h3>This project is for educational purposes, try to book :) </h3>
    </header>
    <div class="how_to_center_a_div">
        <form method="post" action="{% url 'booking' %}" style="display: block;">
            {% csrf_token %}
            <button class="button" type="submit">Make an appointment</button>
        </form>
    </div>
    {% if success_message %}
    <div class="alert-alert-success" role="alert">
        {% for message in success_message %}
        {{ message }}
        {% endfor %}
    </div>
    <p>See your appointments at <a href="{% url 'my_appointments' %}">My appointments</a></p>
    {% endif %}
</div>
{% endblock %}