{% extends "app/layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
<div class="appointment-container">
<h1> My Appointments</h1>
<p>Welcome, {{ user.username }}!</p>

{% if appointments %}
  <ul>
    {% for appointment in appointments %}
      <li>
        <strong>Day:</strong> {{ appointment.day }} |
        <strong>Time:</strong> {{ appointment.time }} |
        <strong>Service:</strong> {{ appointment.service }} |
        <a href="{% url 'update_appointment' appointment.id %}">Update</a> |
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>You have no appointments at the moment.</p>
</div>
{% endif %}
{% endblock %}

